<style>
#pagelayout {
    margin-top: 100px;
}

img {
    width: 280px;
    height: 420px;
    background-color: #575757;
    border-color: black;
}

.thumbnail {
    background-color: #575757;
    border-color: ;
}

body {
    background-color: #c0c0bc;
}

.container {
    border-color: black;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
    background-color: #f7f4f4;
    padding-top: 25px;
    padding-bottom: 60px;
}

</style>
<div id="pagelayout">
    <div class="container" >
        <h2>Movies</h2>
        <div id="Movies" class="row">
            <div class="col-sm-4">
                <a href="#" class="thumbnail" ng-click = 'getMovie("5997ff74e637e50dedb94912")'>
                    <img src="img/photo2.jpg" alt="movie1">
                </a>
                <h3 align="center">Posters We Love: Dorm Edition</h3> We've rounded up some notable movie posters that any film-loving student can use to adorn even the drabbest of dormitory walls. Did we miss any of your favorites?
            </div>
            <div class="col-sm-4">
                <a href="#" class="thumbnail" ng-click='getMovie("59980017e637e50dedb94913")'>
                    <img src="img/photo1.jpg" alt="movie1">
                </a>
                <h3 align="center">'A Ghost Story' Director Reveals Haunting Influence</h3> Filmmaker David Lowery talks to IMDb about the films that inspired A Ghost Story and delivers an exclusive commentary on the trailer.
            </div>
            <div class="col-sm-4">
                <a href="#" class="thumbnail" ng-click='getMovie("5997fea3e637e50dedb94911")'>
                    <img src="img/judwa2.jpg" alt="movie1">
                </a>
                <h3 align="center">Horror Movies From Around the World</h3> We've rounded up a gallery of some of our favorite horror titles from across the globe. For more, visit our Guide to Horror.
            </div>
        </div>
        <h2>Actors</h2>
        <div class="row">
            <div class="col-sm-4">
                <a href="#" class="thumbnail" ng-click = 'getActor("599335cb7c70f90cfe069de7")'>
                    <img src="img/photo4.jpg" alt="Sharukh Khan">
                </a>
                <h3 align="center">Shah Rukh Khan</h3> Sharukh Khan was born on 2 November 1965 in New Delhi, India. He married Gauri Khan on 25 October 1991. They have three children, son Aryan Khan (b. 1997), son AbRam (b.2013) and daughter Suhana (b. 2000). Khan started out his career by appearing in several television serials during 1988-1990.
            </div>
            <div class="col-sm-4">
                <a href="#" class="thumbnail" ng-click='getActor("599336257c70f90cfe069de8")'>
                    <img src="img/photo5.jpg" alt="movie1">
                </a>
                <h3 align="center">Salman Khan</h3> Born on December 27, 1965 Salman Khan is the son of the legendary writer Salim Khan, who penned many super-hits in the yesteryear's like Sholay (1975), Deewaar (1975), and Don (1978). Salman started his acting carrier in 1988 by doing a supporting role in the movie Biwi Ho To Aisi (1988).
            </div>
            <div class="col-sm-4">
                <a href="#" class="thumbnail" ng-click= 'getActor("599333d57c70f90cfe069de6")'>
                    <img src="img/photo6.jpg" alt="movie1">
                </a>
                <h3 align="center">Aamir Khan</h3> Aamir was first introduced as a child artiste in the 1970's hit Yaadon Ki Baaraat (1973) - he was the youngest child in the trio. He then concentrated on school and became a state tennis champion for Maharashtra. Aamir fell in love with the girl next door in the meantime. He proposed to her the day he turned 21, and she accepted.
            </div>
        </div>
        <h2> MORE NEWS</h2>
        <div class="row">
            <div class="col-sm-6">
                <ul class="list-group">
                    <li class="list-group-item">Most Anticipated Indian Movies</li>
                    <li class="list-group-item list-group-item-primary"><pre> 1    Vivegam       27.4% </pre></li>
                    <li class="list-group-item list-group-item-secondary"><pre> 2    Bhoomi       16.8% </pre></li>
                    <li class="list-group-item list-group-item-success"><pre> 3    Judwaa 2       14.2% </pre>
                    </li>
                    <li class="list-group-item list-group-item-danger"><pre> 4    Baadshaho       11.6% </pre>
                    </li>
                    <li class="list-group-item list-group-item-warning"><pre> 5    Spyder       7.8% </pre>
                    </li>
                    <li class="list-group-item list-group-item-info"><pre> 6    Bareilly Ki Barfi     5.6% </pre>
                    </li>
                    <li class="list-group-item list-group-item-light"><pre> 7    Babumoshai Bandookbaaz    4.7% </pre>
                    </li>
                    <li class="list-group-item list-group-item-dark"><pre> 8    Simran     3.9% </pre>
                    </li>
                </ul>
            </div>
            <div class="col-sm-6 scrollspy-example">
                <div class="row">
                    <div id="list-example" class="list-group col-sm-4">
                        <a class="list-group-item list-group-item-action" >India Top </a>
                        <a class="list-group-item list-group-item-action" > Hollywood </a>
                        <a class="list-group-item list-group-item-action" >Movies</a>
                        <a class="list-group-item list-group-item-action" >Celebs</a>
                    </div>
                    <div data-spy="scroll" data-target="#list-example" data-offset="10" class="scrollspy-example">
                        <h4 class=list-item-1">Alia-Sid</h4>
                        <p><img src="img/alia.jpg" class="rounded float-left" alt="..." style="width:100px; height:100px"> We all know that Alia Bhatt and Sidharth Malhotra started dating while shooting for their movie Kapoor & Sons. Now, according to Bollywood Life, Alia Bhatt and Sidharth Malhotra have split and according to sources this Bollywood actress is behind the break-up.</p>
                        <h4 class="list-item-2">Nawazuddin Wife Damn Upset</h4>
                        <p><img src="img/nawaj.jpg" class="rounded float-left" alt="..." style="width:100px; height:100px"> You must have seen in the trailer that the next film of Nawazuddin Siddqui, Babumoshai Bandookbaaz, is packed with some raunchy scenes of the actor. Recently, while promoting his film, Nawazuddin revealed to Deccan Chronicle how his sex scene in the film has affected his relation with his wife.</p>
                        <h4 class="list-item-3"> Toilet: ek prem katha </h4>
                        <p><img src="img/akshay.jpg" class="rounded float-left" alt="..." style="width:100px; height:100px"> After a very good first weekend, Toilet: Ek Prem Katha has one super advantage of public holiday in Independence Day.</p>
                        <h4 class="list-item-4">Aish-Preity</h4>
                        <p><img src="img/aish.jpg" class="rounded float-left" alt="..." style="width:100px; height:100px"> Not many are aware but Preity Zinta and Aishwarya Rai Bachchan are best friends. Not just Aish, Preity is also very close to her hubby Abhishek Bachchan. Recently, Preity Zinta shared a lovely throwback picture with Aishwarya Rai Bachchan on her Instagram account.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>