<div>
    <style>
        table {
            margin-top: 100px;
        }
    </style>
    <a href="#!/addmovie">Add Movie</a>
    <table class="table table-inverse table-striped ">
        <thead>
            <tr>
                <th>Title</th>
                <th>Release Date</th>
                <th>Poster</th>
                <th>Delete</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="movie in movies">
                <th scope="row">{{movie.title}}</th>
                <td>{{movie.release_date | date:'d MMMM yyyy'}}</td>
                <td>
                    <img ng-src="api/movie/img/{{movie._id}}" style="width:100px; height:100px">
                </td>
                <td>
                    <button ng-click="deleteMovie(movie)">Delete</button>
                </td>
                <td>
                    <button ng-click="editMovie(movie)">Edit</button>
                </td>
            </tr>
        </tbody>

    </table>
</div>